
        footer {
            background-color: crimson;
            position: absolute;
            bottom: -200%;
            height: 75%;
            width: 100%;
            /* padding: 10px; */
        }

        .tombol{
            color: white;
            text-decoration: none;
            text-align: center;
            position: absolute;
            display: block;
            bottom: 0%;
            /* left:45%; */
            background: rgb(73, 73, 69);
            width: 100%;
            height: 50px;

        }

        .medsos a img{
            width: 52px;
            /* z-index: 10px; */
            background-color: white;
            padding: 10px;
            /* margin: 10px; */
            top: 100px;
            border-radius: 50px;
            position: relative;
        }

        .medsos a img:hover{
            width: 52px;
            z-index: 10px;
            background-color: rgb(18, 158, 177);
            padding: 10px;
            border-radius: 50px;
        }

        .map{
            position: absolute;
            right: 12px;
            bottom: 50px;
        }
